.button_place_news {
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .button_place_news {
    width: 35%;
  }
}

@media screen and (max-width: 485px) {
  .button_place_news {
    width: 100%;
    margin-bottom: 10px;
  }
}
