.author__paragraph {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 18px;
}

.author__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .author__paragraph {
    margin: 0;
  }
}
