.analytics__container {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 9.5% 90.5%;
  grid-auto-rows: minmax(42px, auto);
}

@media screen and (max-width: 1024px) {
  .analytics__container {
    grid-template-columns: 12% 88%;
  }
}

@media screen and (max-width: 768px) {
  .analytics__container {
    grid-template-columns: 17% 83%;
  }
}

@media screen and (max-width: 485px) {
  .analytics__container {
    margin-top: 10px;
    grid-template-columns: 20% 80%;
  }
}
