@import url('./__title/info__title.css');
@import url('./__paragraph/info__paragraph.css');

.info {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 1024px) {
  .info {
    padding-top: 32px;
  }
}

@media screen and (max-width: 485px) {
  .info {
    padding-top: 18px;
  }
}
