@import url('../../vendor/fonts.css');
@import url('../../vendor/normalize.css');
@import url('../../blocks/section/section.css');
@import url('../../blocks/header/header.css');
@import url('../../blocks/header/_theme/header_theme_black.css');
@import url('../../blocks/navigation/navigation.css');
@import url('../../blocks/bread-crumbs/bread-crumbs.css');

h1 {
    color: skyblue;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
