.search__title {
  font-size: 60px;
  line-height: 64px;
  font-weight: normal;
  margin: 0;
  font-family: 'Roboto Slab', 'Roboto', 'Inter', 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 1024px) {
  .search__title {
    max-width: 70%;
    font-size: 36px;
    line-height: 40px;
  }
}
