.navigation__item {
  color: #B6BCBF;
  display: flex;
  align-items: center;
  margin-right: 34px;
  height: 100%;
}

.navigation__item .navigation__link {
  cursor: text;
}

.navigation__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .navigation__item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 485px) {
  .navigation__item {
    margin-right: 11px;
  }
}
