@import url('./__title/commits__title.css');
@import url('./__container/commits__container.css');
@import url('./__item/commits__item.css');
@import url('./__card-container/commits__card-container.css');
@import url('./__dots-container/commits__dots-container.css');
@import url('./__dot/commits__dot.css');
@import url('./__dot/_active/commits__dot_active.css');
@import url('./__slider-container/commits__slider-container.css');
@import url('./__slider-button/commits__slider-button.css');
@import url('./__slider-button/_place/_left/commits__slider-button_place_left.css');
@import url('./__slider-button/_place/_right/commits__slider-button_place_right.css');
@import url('../button/_place/button_place_commits.css');


.commits {
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Arial Narrow Bold', sans-serif;
  position: relative;
  background: #F5F6F7;
  padding-left: 0;
  padding-right: 0;
}
